@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Nunito&display=swap');
body{
    background-color:#E62828  ;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
header {
    min-height: 150px;
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#1E96FC;
    align-content: center;
    padding-top: 10px;
    border-radius: 20px;

}
nav a:hover {
    background-color: #E62828;
    border-radius: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 40px;
    font-family: "Barlow Semi Condensed";
}
nav{
    display: flex;
    justify-content: space-around;
}
.icon {
    width: 80px;
    margin-left: 20px;
}
footer p {
    font-size: 1.2em;
    color: white;
} 
footer p a:hover {
    text-decoration: underline;
}  
footer {
    background-color: #1E96FC;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Barlow Semi Condensed";
    border-radius: 10px;
}
footer a{
    text-decoration: none;
    text-align: center;
    color: #fcfbfb;
}
#hero{
    display: grid;
    background-color: #1E96FC;
    margin-top: 75px;
    border-radius: 35px;

}
#hero h1{
justify-self: center;
grid-row-start: 1;
font-family: "Barlow Semi Condensed";
margin: 50px;
}
#hero-img{
    justify-self: center;
    grid-row-start: 2;
    min-width: 1000px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #020651;
}
.button-box{
    text-align: center;
    margin: 45px;
    grid-row-start: 3;

}
.main-link, .first-button, .card-button {
    font-family: "Barlow Semi Condensed";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #E62828;
    color: black;
    text-decoration: none;
    margin: 100px;
    align-self: center;
}
.sub-button1, .sub-button2{
    grid-row-start: 2;
    margin-top: 100px;
    z-index: 2;

}
#hand-img, #basic-img{
    min-width: 500px;
    min-height: 350px;
    max-width: 500px;
    max-height: 350px;
    padding: 25px;
    background-color: #1FC982;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000057;
}

#sub-hero{
    display: grid;
    grid-template-columns: 175px 500px 200px 500px 200px;
    grid-template-rows: 350px 200px;
}
#hand-img{
    grid-column-start: 2;
    grid-row-start: 1;
}
#basic-img{
    grid-column-start: 4;
    grid-row-start: 1;
}

.sub-button1{
    grid-column-start: 2;
    justify-self: center;
}

.sub-button2{
    grid-column-start: 4;
    justify-self: center;
}
main{
    margin-top: 75px;
}
.container{
    display: grid;
    grid-template-columns: 100px 250px 750px 350px;
    grid-template-rows: 250px 150px 400px ;
}
.background2{
background-color: #FAEE6B;
max-width: 400px;
min-width: 400px;
border-radius: 20px;
z-index: 3;
grid-column-start: 4;
grid-row-start: 3;
}
main {
font-family: "Nunito";

}
main p{
    font-size: 1.2em;
    text-align: center;
   margin: 20px;
   padding-bottom: 20px;
}
main h2{
    font-size: 2em;
    text-align: center ;
    padding-top: 20px;
}
#pokeball-img{
    min-width: 500px;
}
.back{
 grid-column-start: 3;
 grid-row-start: 2;
}
.pokeball{
    grid-column-start: 2;
    grid-row-start: 1;
}
